DATABASE_URL="postgresql://postgres.fzkbjqkscxlnhidwwfaz:RahulKrishnan%401319@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

DIRECT_URL="postgresql://postgres.fzkbjqkscxlnhidwwfaz:RahulKrishnan%401319@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres"JWT_SECRET="your-random-secret"

NEXT_PUBLIC_SUPABASE_URL="https://fzkbjqkscxlnhidwwfaz.supabase.co"

NEXT_PUBLIC_SUPABASE_ANON_KEY="YOUR_PUBLISHABLE_KEY"

ANTHROPIC_API_KEY=""
